Repository bluesky/ophyd-async: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, uv-sync, import-contracts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"] # uv.lock is more than 500kB
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

rename to stop_state
  src/ophyd_async/core/_movable.py
Due: ruff, ruff-format, import-contracts

Fix DeviceVector-of-signals type check in PviDeviceConnector
  src/ophyd_async/core/_device_filler.py
Due: ruff, ruff-format, import-contracts

Add DeviceVector-of-commands support to PviDeviceConnector
  src/ophyd_async/epics/core/_pvi_connector.py
Due: ruff, ruff-format, import-contracts

Rework generic PVI test backend: full mirroring + nested devices
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_devices.py
  src/ophyd_async/epics/testing/_epics_test_ca_records.db
  src/ophyd_async/epics/testing/_epics_test_pva_records.db
  src/ophyd_async/epics/testing/_pvi_nested_devices.py
  src/ophyd_async/epics/testing/_pvi_nested_records.db
  src/ophyd_async/epics/testing/test_records.db
  tests/system_tests/epics/signal/test_pvi_nested.py
  tests/system_tests/epics/signal/test_signals.py
  tests/system_tests/fastcs/panda/test_panda_connect.py
Due: ruff, ruff-format, import-contracts

Add DeviceVector-of-commands support to PviDeviceConnector (#1326)
  src/ophyd_async/epics/core/_pvi_connector.py
Due: ruff, ruff-format, import-contracts

Add declarative Tango test Device, pairing with the procedural flavour
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_one_of_everything.py
  tests/system_tests_tango/test_tango_declarative_device.py
Due: ruff, ruff-format, import-contracts

Split Tango server/client test Devices into separate, independently-importable files
  pyproject.toml
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_device_server.py
  src/ophyd_async/tango/testing/_example_types.py
  src/ophyd_async/tango/testing/_tango/__init__.py
  src/ophyd_async/tango/testing/_tango/_one_of_everything.py
  src/ophyd_async/tango/testing/_tango_test_device.py
  tests/system_tests_tango/test_tango_command.py
  tests/system_tests_tango/test_tango_declarative_device.py
  tests/system_tests_tango/test_tango_signals.py
Due: ruff, ruff-format, uv-sync, import-contracts

Flatten Tango _tango/ subpackages to single files; drop bluesky/pytest from server import
  pyproject.toml
  src/ophyd_async/tango/demo/_tango.py
  src/ophyd_async/tango/demo/_tango/__init__.py
  src/ophyd_async/tango/demo/_tango/_tango_server.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_tango.py
  src/ophyd_async/tango/testing/_tango/__init__.py
  src/ophyd_async/tango/testing/_test_device.py
  tests/system_tests_tango/test_base_device.py
Due: ruff, ruff-format, uv-sync, import-contracts

Update to allow for using process plugin to apply filter and adjust exposures per collection
  src/ophyd_async/epics/adcore/__init__.py
  src/ophyd_async/epics/adcore/_detector.py
  src/ophyd_async/epics/adcore/_io.py
  src/ophyd_async/epics/adcore/_trigger_logic.py
  src/ophyd_async/epics/adkinetix.py
  tests/system_tests/epics/adsim/test_adsim_system.py
  tests/unit_tests/epics/adcore/test_cont_acq_detector.py
  tests/unit_tests/epics/adcore/test_data_logic.py
  tests/unit_tests/epics/adcore/test_detector.py
  tests/unit_tests/epics/adcore/test_prepare_exposures.py
  tests/unit_tests/epics/adcore/test_use_cases.py
Due: ruff, ruff-format, import-contracts

Add additional epics motor record fields for motor/encoder resolution
  src/ophyd_async/epics/motor.py
Due: ruff, ruff-format, import-contracts

Fix typo in pcomp info confined model
  src/ophyd_async/fastcs/panda/_fly_logic.py
  tests/unit_tests/fastcs/panda/test_trigger.py
Due: ruff, ruff-format, import-contracts

Give EPICS/Tango test backends predictable, prefix-only addressing
  pyproject.toml
  src/ophyd_async/epics/demo/__init__.py
  src/ophyd_async/epics/demo/__main__.py
  src/ophyd_async/epics/demo/_ioc.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_utils.py
  src/ophyd_async/tango/demo/__init__.py
  src/ophyd_async/tango/demo/__main__.py
  src/ophyd_async/tango/demo/_tango.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_device_server.py
  src/ophyd_async/tango/testing/_example_types.py
  src/ophyd_async/tango/testing/_tango.py
  src/ophyd_async/tango/testing/_tango_device_servers.py
  src/ophyd_async/tango/testing/_test_device.py
  src/ophyd_async/testing/__init__.py
  src/ophyd_async/testing/_subprocess.py
  tests/system_tests/epics/signal/test_pvi_nested.py
  tests/system_tests/epics/signal/test_signals.py
  tests/system_tests_tango/conftest.py
  tests/system_tests_tango/test_base_device.py
  tests/system_tests_tango/test_tango_command.py
  tests/system_tests_tango/test_tango_declarative_device.py
  tests/system_tests_tango/test_tango_signals.py
  tests/system_tests_tango/test_tango_transport.py
Due: ruff, ruff-format, uv-sync, import-contracts

Replace SubprocessSpec dataclass with explicit argv + thin start_* wrappers
  pyproject.toml
  src/ophyd_async/epics/demo/__init__.py
  src/ophyd_async/epics/demo/__main__.py
  src/ophyd_async/epics/demo/_ioc.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_utils.py
  src/ophyd_async/tango/demo/__main__.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_tango_device_servers.py
  src/ophyd_async/testing/__init__.py
  src/ophyd_async/testing/_subprocess.py
  tests/system_tests/epics/signal/test_pvi_nested.py
  tests/system_tests/epics/signal/test_signals.py
  tests/system_tests_tango/conftest.py
  tests/system_tests_tango/test_base_device.py
Due: ruff, ruff-format, uv-sync, import-contracts

Delete TestingIOC; move executable overrides onto start_ioc/start_tango_device_servers
  src/ophyd_async/epics/demo/_ioc.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_utils.py
  src/ophyd_async/tango/testing/_tango_device_servers.py
  tests/system_tests/epics/signal/test_pvi_nested.py
  tests/system_tests/epics/signal/test_signals.py
Due: ruff, ruff-format, import-contracts

Replace ioc_args() with a Database(path, macros) dataclass, folded into start_ioc
  src/ophyd_async/epics/demo/_ioc.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_utils.py
  tests/system_tests/epics/signal/test_pvi_nested.py
  tests/system_tests/epics/signal/test_signals.py
Due: ruff, ruff-format, import-contracts

Rename demo_ioc_args to demo_ioc_database
  src/ophyd_async/epics/demo/__init__.py
  src/ophyd_async/epics/demo/__main__.py
  src/ophyd_async/epics/demo/_ioc.py
  src/ophyd_async/epics/testing/_utils.py
Due: ruff, ruff-format, import-contracts

Split Tango device servers into demo/_tango_device_servers.py and testing/_tango_device_servers.py
  src/ophyd_async/tango/demo/__init__.py
  src/ophyd_async/tango/demo/__main__.py
  src/ophyd_async/tango/demo/_tango.py
  src/ophyd_async/tango/demo/_tango_device_servers.py
  src/ophyd_async/tango/testing/_tango.py
  src/ophyd_async/tango/testing/_tango_device_servers.py
  tests/system_tests_tango/conftest.py
  tests/system_tests_tango/test_base_device.py
Due: ruff, ruff-format, import-contracts

Make device-server/IOC subprocess launches always invoke a real file by path
  src/ophyd_async/epics/demo/_ioc.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_ioc.py
  src/ophyd_async/epics/testing/_utils.py
  src/ophyd_async/tango/demo/__main__.py
  src/ophyd_async/tango/demo/_tango.py
  src/ophyd_async/tango/demo/_tango_device_servers.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_launch.py
  src/ophyd_async/tango/testing/_tango.py
  src/ophyd_async/tango/testing/_tango_device_servers.py
  tests/system_tests_tango/conftest.py
  tests/system_tests_tango/test_base_device.py
Due: ruff, ruff-format, import-contracts

Simplify EPICS/Tango test device-server and IOC launcher infrastructure
  pyproject.toml
  src/ophyd_async/epics/demo/__init__.py
  src/ophyd_async/epics/demo/__main__.py
  src/ophyd_async/epics/demo/_ioc.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_epics_test_pva_records.db
  src/ophyd_async/epics/testing/_ioc.py
  src/ophyd_async/epics/testing/_launch.py
  src/ophyd_async/epics/testing/_pvi_nested_records.db
  src/ophyd_async/epics/testing/_utils.py
  src/ophyd_async/tango/demo/__init__.py
  src/ophyd_async/tango/demo/__main__.py
  src/ophyd_async/tango/demo/_tango_device_servers.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_launch.py
  src/ophyd_async/tango/testing/_tango_device_servers.py
  src/ophyd_async/testing/__init__.py
  src/ophyd_async/testing/_subprocess.py
  tests/system_tests/epics/signal/test_pvi_nested.py
  tests/system_tests/epics/signal/test_signals.py
  tests/system_tests_tango/conftest.py
  tests/system_tests_tango/test_base_device.py
Due: ruff, ruff-format, uv-sync, import-contracts

Fix pre-existing pyright and docs-build failures on this branch
  src/ophyd_async/tango/demo/_tango_device_servers.py
  src/ophyd_async/tango/testing/_tango_device_servers.py
  src/ophyd_async/testing/__init__.py
  src/ophyd_async/testing/_assert.py
Due: ruff, ruff-format, import-contracts

Fix subprocess-launched test scripts showing 0% coverage
  pyproject.toml
Due: uv-sync

Remove jython cache, update gitignore
  .gitignore
  .jython_cache/packages/jython.pkc
  .jython_cache/packages/packages.idx
Due: none

Update standard detector watcher update behavior to match ophyd v1:
  src/ophyd_async/core/_detector.py
  tests/unit_tests/core/test_standard_detector.py
Due: ruff, ruff-format, import-contracts

Update src/ophyd_async/core/_detector.py
  src/ophyd_async/core/_detector.py
Due: ruff, ruff-format, import-contracts

Scope PLC2701 private-import suppressions to the import line, not the whole tests tree
  pyproject.toml
  src/ophyd_async/core/__init__.py
  tests/system_tests/epics/signal/test_signals.py
  tests/unit_tests/core/test_log.py
  tests/unit_tests/core/test_movable.py
  tests/unit_tests/core/test_signal.py
  tests/unit_tests/core/test_subset_enum.py
  tests/unit_tests/epics/pmac/test_pmac_trajectory.py
  tests/unit_tests/epics/pmac/test_pmac_trajectory_generation.py
  tests/unit_tests/epics/pmac/test_pmac_utils.py
  tests/unit_tests/epics/signal/test_common.py
  tests/unit_tests/test_branching.py
Due: ruff, ruff-format, uv-sync, import-contracts

Revert pva: db include + EPICS_DB_INCLUDE_PATH; load ca db explicitly instead
  src/ophyd_async/epics/testing/_epics_test_pva_records.db
  src/ophyd_async/epics/testing/_ioc.py
Due: ruff, ruff-format, import-contracts

Make pytest a real dependency of ophyd_async.testing via the demo extra
  pyproject.toml
  src/ophyd_async/testing/__init__.py
  src/ophyd_async/testing/_assert.py
  uv.lock
Due: ruff, ruff-format, uv-sync, import-contracts

Add generic Signal-level lifecycle test suite for Tango (item 4, first slice)
  src/ophyd_async/tango/core/_base_device.py
  tests/system_tests_tango/test_tango_signal_lifecycle.py
Due: ruff, ruff-format, import-contracts

Link filed follow-up issues (#1335, #1336) from inline comments
  tests/system_tests_tango/test_tango_signal_lifecycle.py
Due: ruff, ruff-format, import-contracts

tests: use object setattr to set mocks
  tests/epics/test_motor.py
Due: ruff, ruff-format, import-contracts

Add regression test for TangoDeviceConnector.connect_mock's DeviceVector guard
  tests/system_tests_tango/test_tango_signal_lifecycle.py
Due: ruff, ruff-format, import-contracts

Narrow Array1D to genuinely 1-D at the type-checker level
  src/ophyd_async/core/_datatypes.py
Due: ruff, ruff-format, import-contracts
