Repository bluesky/ophyd-async: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, uv-sync, import-contracts

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

Address review: motor kickoff waits up to speed; pmac tests via public surface (#1241)
  src/ophyd_async/epics/motor.py
  tests/unit_tests/epics/pmac/test_pmac_trajectory.py
  tests/unit_tests/epics/test_motor.py
Due: ruff, ruff-format, import-contracts

Update _test.yml
  .github/workflows/_test.yml
Due: none

tests: make Tango lifecycle put values deterministic, fixing bool flake
  tests/system_tests/tango/core/conftest.py
  tests/system_tests/tango/core/test_tango_signal_lifecycle.py
Due: ruff, ruff-format, import-contracts

tests: stop pinning wall-clock upper bound on observe timeout
  tests/unit_tests/core/test_observe.py
Due: ruff, ruff-format, import-contracts

tests: make Tango lifecycle put values deterministic, fixing bool flake (#1361)
  tests/system_tests/tango/core/conftest.py
  tests/system_tests/tango/core/test_tango_signal_lifecycle.py
Due: ruff, ruff-format, import-contracts

tests: drop dead wall-clock waits from three slow unit tests
  tests/unit_tests/core/test_observe.py
  tests/unit_tests/epics/adcore/test_acquire_logic.py
  tests/unit_tests/sim/test_sim_motor.py
Due: ruff, ruff-format, import-contracts

add_appending_records
  src/ophyd_async/fastcs/panda/__init__.py
  src/ophyd_async/fastcs/panda/_block.py
Due: ruff, ruff-format, import-contracts

tests: stop pinning wall-clock upper bound on observe timeout (#1362)
  tests/unit_tests/core/test_observe.py
Due: ruff, ruff-format, import-contracts

tests: give IOC-bound tests a path pytest and the IOC agree on
  .devcontainer/devcontainer.json
  tests/compose-shared-tmp.yaml
  tests/conftest.py
Due: ruff, ruff-format, import-contracts

tests: stop hiding the adsim system test's failures
  tests/system_tests/epics/adsim/baseline.yaml
  tests/system_tests/epics/adsim/test_adsim_system.py
Due: ruff, ruff-format, import-contracts

tests: fail loudly when EXAMPLE_SERVICES_PATH is unset
  tests/conftest.py
  tests/system_tests/epics/adsim/test_adsim_system.py
Due: ruff, ruff-format, import-contracts

Fix the dead DeviceVector/DeviceMap element type lookup for commands
  src/ophyd_async/core/_device_filler.py
Due: ruff, ruff-format, import-contracts

PVI: address declarative sub-devices, and cross-check PvSuffix against PVI
  docs/conf.py
  src/ophyd_async/epics/core/_epics_connector.py
  src/ophyd_async/epics/core/_pvi_connector.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_devices.py
  src/ophyd_async/epics/testing/_epics_test_ca_records.db
  src/ophyd_async/epics/testing/_pvi_nested_devices.py
  tests/system_tests/epics/core/test_epics_signal_mechanisms.py
  tests/system_tests/epics/core/test_pvi_nested.py
Due: ruff, ruff-format, import-contracts

tests: run the container tests in their own pytest invocation
  .github/workflows/_test.yml
  CLAUDE.md
  tests/conftest.py
  tests/container_tests/baseline.yaml
  tests/container_tests/conftest.py
  tests/container_tests/external_dependencies.sh
  tests/container_tests/test_adsim_system.py
Due: ruff, ruff-format, import-contracts

Only show a warning, rather than raise if a detector data logic doesn't support unbounded mode.
  src/ophyd_async/core/_detector.py
  tests/unit_tests/core/test_standard_detector.py
Due: ruff, ruff-format, import-contracts

Placate linter
  src/ophyd_async/core/_detector.py
  tests/unit_tests/core/test_standard_detector.py
Due: ruff, ruff-format, import-contracts

Add DeviceMap and declarative sub-devices (#1252, #1182) (#1282)
  docs/conf.py
  docs/tutorials/implementing-devices.md
  src/ophyd_async/core/__init__.py
  src/ophyd_async/core/_device.py
  src/ophyd_async/core/_device_filler.py
  src/ophyd_async/epics/core/_epics_connector.py
  src/ophyd_async/epics/core/_epics_device.py
  src/ophyd_async/epics/core/_pvi_connector.py
  src/ophyd_async/epics/demo/_stage.py
  src/ophyd_async/epics/testing/__init__.py
  src/ophyd_async/epics/testing/_devices.py
  src/ophyd_async/epics/testing/_epics_test_ca_records.db
  src/ophyd_async/epics/testing/_pvi_nested_devices.py
  src/ophyd_async/epics/testing/_pvi_nested_records.db
  src/ophyd_async/tango/core/_base_device.py
  tests/system_tests/epics/core/test_epics_signal_mechanisms.py
  tests/system_tests/epics/core/test_pvi_nested.py
  tests/unit_tests/core/test_command.py
  tests/unit_tests/core/test_device.py
  tests/unit_tests/epics/pvi/test_pvi.py
  tests/unit_tests/epics/test_declarative_subdevices.py
  tests/unit_tests/tango/test_tango_declarative_subdevices.py
Due: ruff, ruff-format, import-contracts

docs: scope the PvSuffix-required note to static EPICS
  docs/tutorials/implementing-devices.md
Due: none

tests: correct why the container tests are split out
  tests/container_tests/conftest.py
Due: ruff, ruff-format, import-contracts

docs: set PR bodies with gh api, not gh pr edit
  CLAUDE.md
Due: none

docs: scope the PvSuffix-required note to static EPICS (#1365)
  docs/tutorials/implementing-devices.md
Due: none

tests: drop pytest-insubprocess and its workaround
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff, ruff-format, uv-sync, import-contracts

tests: wait for the cam IOC to finish configuring itself
  tests/conftest.py
Due: ruff, ruff-format, import-contracts

ci: stop the container tests erasing the other tests' coverage
  .github/workflows/_test.yml
Due: none

tests: name the shared-tmp env vars OPHYD_ASYNC_*, not OA_*
  .devcontainer/devcontainer.json
  tests/compose-shared-tmp.yaml
  tests/conftest.py
Due: ruff, ruff-format, import-contracts

docs: document every environment variable, not just one
  docs/reference/environment-variables.md
Due: none

tests: give the non-blocking put a bound a loaded runner can meet
  tests/system_tests/epics/core/test_epics_signal_mechanisms.py
Due: ruff, ruff-format, import-contracts

Speed up the test suite and unhide the adsim system test (#1363)
  .devcontainer/devcontainer.json
  .github/workflows/_test.yml
  CLAUDE.md
  docs/reference/environment-variables.md
  pyproject.toml
  tests/compose-shared-tmp.yaml
  tests/conftest.py
  tests/container_tests/baseline.yaml
  tests/container_tests/conftest.py
  tests/container_tests/external_dependencies.sh
  tests/container_tests/test_adsim_system.py
  tests/system_tests/epics/adsim/baseline.yaml
  tests/system_tests/epics/core/test_epics_signal_mechanisms.py
  tests/unit_tests/core/test_observe.py
  tests/unit_tests/epics/adcore/test_acquire_logic.py
  tests/unit_tests/sim/test_sim_motor.py
  uv.lock
Due: ruff, ruff-format, uv-sync, import-contracts

docs: add ADR 0020 for the bounded data logic tier
  docs/explanations/decisions/0020-bounded-data-logic-tier.md
Due: none

fix: raise if one logic object fills two roles
  src/ophyd_async/core/_detector.py
  tests/unit_tests/core/test_standard_detector.py
Due: ruff, ruff-format, import-contracts

Add opt-outs for the reserved-attr check (#1368)
  docs/conf.py
  docs/reference/environment-variables.md
  docs/tutorials/writing-tests-for-devices.md
  src/ophyd_async/core/_device.py
  src/ophyd_async/testing/__init__.py
  src/ophyd_async/testing/_mock_attr.py
  tests/unit_tests/core/test_device.py
  tests/unit_tests/epics/test_motor.py
Due: ruff, ruff-format, import-contracts

feat: add bounded DetectorDataLogic tier for finite buffers
  src/ophyd_async/core/__init__.py
  src/ophyd_async/core/_data_providers.py
  src/ophyd_async/core/_detector.py
  tests/unit_tests/core/test_standard_detector.py
Due: ruff, ruff-format, import-contracts

feat: resolve a zero livetime from the trigger logic in prepare()
  src/ophyd_async/core/_detector.py
  src/ophyd_async/epics/adcore/_trigger_logic.py
  tests/unit_tests/core/test_standard_detector.py
Due: ruff, ruff-format, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  import-contracts: any of: \.py$
