Repository bluesky/ophyd-async: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, uv-sync, import-contracts

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

improves error message from datakey shape function
  src/ophyd_async/core/_signal_backend.py
  tests/unit_tests/core/test_signal.py
Due: ruff, ruff-format, import-contracts

WIP
  src/ophyd_async/core/_signal.py
  src/ophyd_async/epics/core/_aioca.py
  src/ophyd_async/epics/core/_signal.py
  src/ophyd_async/epics/core/_util.py
Due: ruff, ruff-format, import-contracts

Update to copier 5.0.0a3
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .github/CONTRIBUTING.md
Due: none

improves error message from datakey shape function
  tests/unit_tests/core/test_signal.py
  tests/unit_tests/core/test_single_derived_signal.py
Due: ruff, ruff-format, import-contracts

improves error message from datakey shape function (#1073)
  src/ophyd_async/core/_signal_backend.py
  tests/unit_tests/core/test_single_derived_signal.py
Due: ruff, ruff-format, import-contracts

Configure to exclude upstream actions
  .github/dependabot.yml
  .github/renovate.json5
  renovate.json
Due: none

Removed echo_device tests from test_tango_transport. Removed uses of NotConnected in test_tango_signals
  tests/system_tests/tango/test_tango_signals.py
  tests/system_tests/tango/test_tango_transport.py
Due: ruff, ruff-format, import-contracts

Catching exceptions when DeviceProxy.unsubscribe_event is called after the event loop is closed
  src/ophyd_async/tango/core/_tango_transport.py
Due: ruff, ruff-format, import-contracts

Removed unnecessary pass
  src/ophyd_async/tango/core/_tango_transport.py
Due: ruff, ruff-format, import-contracts

Add support for color images in areaDetector, fix issue where cont acq detector would use incorrect PVs for dataset description
  src/ophyd_async/epics/adcore/__init__.py
  src/ophyd_async/epics/adcore/_core_io.py
  src/ophyd_async/epics/adcore/_utils.py
  tests/unit_tests/epics/adcore/test_writers.py
  tests/unit_tests/epics/conftest.py
Due: ruff, ruff-format, import-contracts

wip: interpolate at each point and add panda
  src/ophyd_async/epics/pmac/ruckig_generation.py
Due: ruff, ruff-format, import-contracts

Fix typo
  src/ophyd_async/epics/adcore/_core_io.py
Due: ruff, ruff-format, import-contracts

Disable pyenv notifications for python version
  .github/renovate.json5
Due: none

Disable pyenv notifications for python version (#1085)
  .github/renovate.json5
Due: none

Making tango event subscription asynchronous (#1001)
  src/ophyd_async/tango/core/_tango_transport.py
  src/ophyd_async/tango/demo/_mover.py
  tests/system_tests/tango/test_tango_signals.py
  tests/system_tests/tango/test_tango_transport.py
Due: ruff, ruff-format, import-contracts

Fixing tests after merge
  src/ophyd_async/tango/core/_tango_transport.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/test_config.py
  tests/system_tests/tango/conftest.py
  tests/system_tests/tango/test_tango_transport.py
Due: ruff, ruff-format, import-contracts

fixing pre-commit checks
  src/ophyd_async/tango/testing/test_config.py
  tests/system_tests/tango/test_tango_transport.py
Due: ruff, ruff-format, import-contracts

make test_config private again
  src/ophyd_async/tango/core/_tango_transport.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_test_config.py
  tests/system_tests/tango/test_tango_transport.py
Due: ruff, ruff-format, import-contracts

Fixed imports of TestConfig
  src/ophyd_async/tango/core/_tango_transport.py
  tests/system_tests/tango/test_tango_transport.py
Due: ruff, ruff-format, import-contracts

update to use new Subscribable protocol
  src/ophyd_async/core/_derived_signal_backend.py
  src/ophyd_async/core/_signal.py
  src/ophyd_async/epics/motor.py
  src/ophyd_async/sim/_motor.py
  src/ophyd_async/testing/_assert.py
  tests/unit_tests/core/test_multi_derived_signal.py
  tests/unit_tests/core/test_signal.py
  tests/unit_tests/epics/demo/test_epics_demo.py
  tests/unit_tests/epics/test_motor.py
Due: ruff, ruff-format, import-contracts

point to subscribable-protocol bluesky branch
  pyproject.toml
Due: uv-sync

fix type hint of queue_value
  src/ophyd_async/core/_signal.py
Due: ruff, ruff-format, import-contracts

Fix test after rebase
  tests/unit_tests/core/test_single_derived_signal.py
Due: ruff, ruff-format, import-contracts

Remove `subscribe_value` from SignalR
  src/ophyd_async/core/_signal.py
  src/ophyd_async/epics/motor.py
  src/ophyd_async/sim/_motor.py
  src/ophyd_async/sim/_stage.py
  tests/system_tests/epics/signal/test_signals.py
  tests/unit_tests/core/test_signal.py
  tests/unit_tests/core/test_single_derived_signal.py
Due: ruff, ruff-format, import-contracts

rollback pointing bluesky at subscribable-protocol branch
  pyproject.toml
Due: uv-sync

Apply suggestions from code review
  src/ophyd_async/core/_signal.py
Due: ruff, ruff-format, import-contracts

lint
  src/ophyd_async/core/_signal.py
Due: ruff, ruff-format, import-contracts

print signal name in unsubscribe warning
  src/ophyd_async/core/_signal.py
Due: ruff, ruff-format, import-contracts

Fix warning in docs build
  docs/explanations/devices-signals-backends.md
Due: none

Remove want_value arg from SignalCache._notify
  src/ophyd_async/core/_signal.py
  tests/unit_tests/core/test_signal.py
Due: ruff, ruff-format, import-contracts

alias subscribe_reading to subscribe to support old and new versions of Subscribable protocol
  src/ophyd_async/core/_signal.py
  src/ophyd_async/epics/motor.py
  src/ophyd_async/sim/_motor.py
  tests/unit_tests/core/test_single_derived_signal.py
Due: ruff, ruff-format, import-contracts

type: ignore for subscribe_reading call
  src/ophyd_async/core/_derived_signal_backend.py
Due: ruff, ruff-format, import-contracts

update clear_sub docstring
  src/ophyd_async/core/_signal.py
Due: ruff, ruff-format, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  import-contracts: any of: \.py$
