Repository bluesky/ophyd-async: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, uv-sync, import-contracts

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

Fix tests after rebase
  docs/explanations/devices-signals-backends.md
  src/ophyd_async/sim/_stage.py
  tests/system_tests/epics/signal/test_signals.py
Due: ruff, ruff-format, import-contracts

Update Signals to use new Subscribable protocol (#950)
  docs/explanations/devices-signals-backends.md
  src/ophyd_async/core/_derived_signal_backend.py
  src/ophyd_async/core/_signal.py
  src/ophyd_async/epics/motor.py
  src/ophyd_async/sim/_motor.py
  src/ophyd_async/sim/_stage.py
  src/ophyd_async/testing/_assert.py
  tests/system_tests/epics/signal/test_signals.py
  tests/unit_tests/core/test_multi_derived_signal.py
  tests/unit_tests/core/test_signal.py
  tests/unit_tests/core/test_single_derived_signal.py
  tests/unit_tests/epics/demo/test_epics_demo.py
  tests/unit_tests/epics/test_motor.py
Due: ruff, ruff-format, import-contracts

Removed print statement
  src/ophyd_async/tango/core/_tango_transport.py
Due: ruff, ruff-format, import-contracts

Tango improved descriptor (#865)
  src/ophyd_async/tango/core/__init__.py
  src/ophyd_async/tango/core/_signal.py
  src/ophyd_async/tango/core/_tango_transport.py
  src/ophyd_async/tango/core/_utils.py
  src/ophyd_async/tango/testing/__init__.py
  src/ophyd_async/tango/testing/_one_of_everything.py
  src/ophyd_async/tango/testing/_test_config.py
  tests/system_tests/tango/conftest.py
  tests/system_tests/tango/test_base_device.py
  tests/system_tests/tango/test_tango_signals.py
  tests/system_tests/tango/test_tango_transport.py
Due: ruff, ruff-format, import-contracts

Improve renovate config
  .github/renovate.json
  .github/renovate.json5
Due: none

Revert "Lock file maintenance (#1082)"
  uv.lock
Due: uv-sync

use service fixtures in tests
  tests/system_tests/epics/adsim/test_adsim_system.py
Due: ruff, ruff-format, import-contracts

add docker-outside-docker support
  .devcontainer/devcontainer.json
  Dockerfile
Due: none

add docker-compose
  Dockerfile
Due: none

add service fixtures
  tests/conftest.py
Due: ruff, ruff-format, import-contracts

remove needs-services from matrix
  .github/workflows/_test.yml
  .github/workflows/ci.yml
Due: none

set EXAMPLE_SERVICES_PATH in CI
  .github/workflows/_test.yml
Due: none

tune timeout for CI
  tests/conftest.py
  tests/system_tests/epics/adsim/test_adsim_system.py
Due: ruff, ruff-format, import-contracts

set EXAMPLE_SERVICES_PATH in dev env
  .devcontainer/devcontainer.json
Due: none

add startup script for non-devcontainer use
  tests/system_tests/epics/adsim/external_dependencies.sh
  tests/system_tests/epics/adsim/start_iocs.sh
  tests/system_tests/epics/adsim/stop_iocs.sh
Due: none

fix comment
  tests/conftest.py
Due: ruff, ruff-format, import-contracts

override event_loop: new loop for each test
  tests/conftest.py
Due: ruff, ruff-format, import-contracts

Add note on using Annotated with ruff
  docs/explanations/decisions/0009-procedural-vs-declarative-devices.md
Due: none

chore: remove reference on odin
  src/ophyd_async/fastcs/eiger/_eiger_controller.py
Due: ruff, ruff-format, import-contracts

Add note on using Annotated with ruff (#1090)
  docs/explanations/decisions/0009-procedural-vs-declarative-devices.md
Due: none

Improve renovate config (#1088)
  .github/renovate.json
  .github/renovate.json5
Due: none

Enable automerge for lockFileMaintenance
  .github/renovate.json
Due: none

Modify tango dependency version constraint
  pyproject.toml
  uv.lock
Due: uv-sync

Enable automerge for lockFileMaintenance (#1094)
  .github/renovate.json
Due: none

Add Yes No strict enum (#1067)
  src/ophyd_async/core/__init__.py
  src/ophyd_async/core/_enums.py
Due: ruff, ruff-format, import-contracts

Modify tango dependency version constraint (#1093)
  pyproject.toml
  uv.lock
Due: uv-sync

Initial suggestion for returning different values
  src/ophyd_async/core/_mock_signal_backend.py
  tests/unit_tests/core/test_signal.py
Due: ruff, ruff-format, import-contracts

refactored all error outputs to be named exc
  src/ophyd_async/core/_detector.py
  src/ophyd_async/core/_device.py
  src/ophyd_async/core/_signal.py
  src/ophyd_async/core/_status.py
  src/ophyd_async/core/_utils.py
  src/ophyd_async/epics/adcore/_utils.py
  src/ophyd_async/tango/core/_tango_transport.py
  tests/system_tests/epics/signal/test_signals.py
  tests/system_tests/tango/test_tango_signals.py
  tests/system_tests/tango/test_tango_transport.py
  tests/unit_tests/core/test_auto_init_devices.py
  tests/unit_tests/core/test_device.py
  tests/unit_tests/core/test_table.py
  tests/unit_tests/core/test_utils.py
  tests/unit_tests/epics/adcore/test_cont_acq_detector.py
  tests/unit_tests/epics/adcore/test_writers.py
  tests/unit_tests/epics/demo/test_epics_demo.py
  tests/unit_tests/epics/pvi/test_pvi.py
Due: ruff, ruff-format, import-contracts

refactored all error outputs to be named exc (#1098)
  src/ophyd_async/core/_detector.py
  src/ophyd_async/core/_device.py
  src/ophyd_async/core/_signal.py
  src/ophyd_async/core/_status.py
  src/ophyd_async/core/_utils.py
  src/ophyd_async/epics/adcore/_utils.py
  src/ophyd_async/tango/core/_tango_transport.py
  tests/system_tests/epics/signal/test_signals.py
  tests/system_tests/tango/test_tango_signals.py
  tests/system_tests/tango/test_tango_transport.py
  tests/unit_tests/core/test_auto_init_devices.py
  tests/unit_tests/core/test_device.py
  tests/unit_tests/core/test_table.py
  tests/unit_tests/core/test_utils.py
  tests/unit_tests/epics/adcore/test_cont_acq_detector.py
  tests/unit_tests/epics/adcore/test_writers.py
  tests/unit_tests/epics/demo/test_epics_demo.py
  tests/unit_tests/epics/pvi/test_pvi.py
Due: ruff, ruff-format, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  import-contracts: any of: \.py$
